.testimonial-sec {
  position: relative !important;
  &::after {
    content: "";
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1 !important;
    background-color: transparent;
    background-image: linear-gradient(
      170deg,
      #00000099 80%,
      $bg-primary-color 0%
    );
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
  .testimonial-col,
  .testimonial-img-col {
    z-index: 9;
  }
  .testimonial-img-col{
    .img{
      position: relative;
    }
    .shape-1{
      position: absolute;
      width: 224px;
      max-width: 224px !important;
      --container-widget-width: 224px;
      --container-widget-flex-grow: 0;
      top: 156px;
      z-index: 0;
      right: -35px;
    }
    .shape-2{
      position: absolute;
      width: 224px;
      max-width: 224px !important;
      --container-widget-width: 224px;
      --container-widget-flex-grow: 0;
      bottom: 156px;
      z-index: 0;
      left: -35px;
    }
  }
}

.testimonials {
  &__item {
    .testimonials__content {
      .testimonials__text {
        font-family: "Questrial", Sans-serif;
        font-size: 16px;
        font-weight: 300;
        padding: 2px 0px 0px 0px;
        color: $color-text-light;
        margin-bottom: 14px;
        position: relative;
        margin-top: 30px;
        margin-bottom: 30px;
        z-index: 2;
      }
    }
    .testimonials__profile {
      .bio-details {
        display: flex;
        align-items: center;
        gap: 10px;
        &__image {
          img {
            width: 70px;
            border-radius: 50%;
          }
        }
        &__info {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          .bio-details__name {
            color: $color-text-light;
            font-family: "Montserrat", Sans-serif;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 0px;
            line-height: 1.5em;
          }
          .bio-details__description {
            color: $color-text-light;
            font-family: "Questrial", Sans-serif;
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

.testimonials {
  .slick-dots li.slick-active button:before{
    color: $color-primary;
    opacity: 1;
  }
  .slick-dots li button:before {
    font-size: 50px !important;
    color: $color-text-light;
    opacity: 1;
  }
}


