// abstracts/_variables.scss

// Color variables
$color-primary: #22D3A6;
$color-primary-dark: #005f8a;
$color-secondary: #7a7a7a;
$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-light: #f8f9fa;
$color-dark: #000;
$color-white: #ffffff;
$color-gray: #6c757d;
$color-gray-dark: #343a40;

// Font color variables
$link-text-color: #7a7a7a;
$color-text-light: #ffffff;



$bg-primary-color: #216AD7;
$bg-secondary-color: #EFF8FF;